
/* Fonte Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Fonte Poppins e Teko para logotipo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&family=Teko:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
}

html {

}

body {
    font-weight: 100;
}

.fundo-cinza {
    background-color: #FAF7F7;
}

.fundo-branco {
    background-color: white;
}

.sombra {
    box-shadow:  20px 20px 50px #bebebe,
             -20px -20px 50px #ffffff;
    padding: 20px;
}

.logotipo{
    width: 70px;
    height: 70px;
    background: #292828;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: -0.1rem;  
    font-weight: 400;
    color: white;
    padding-top: 5px;
    z-index: 1000;
  }
    

.contentor-jogo {
    width: 100vw;
    min-width: 1650px;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
}

header {
    width: 100%;
    display: flex;
    padding: 1rem;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
}

header a {
    text-decoration: none;
    color: #292828;
    padding: 2px 8px;
}

header a:hover {
    text-decoration: none;
    background-color: turquoise;
}

header nav {
    display: block;
}

header ul {
    padding-left: 20px;
    display: flex;
    list-style-type: none;
    gap: 30px;
}


.botao {
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: white;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    color: #292828;
    width:fit-content;
    text-align: center;
}

.botao:hover {
    background-color: turquoise;
}

.botao-inativo {
    border: 1px solid #bebebe;
    border-radius: 20px;
    background-color: #FAF7F7;
    padding: 8px 20px;
    color: #bebebe;
    font-weight: bold;
    margin: 10px;
    width:fit-content;
    text-align: center;
}

.jogo {
    display: flex;
    padding: 10px;
    min-width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.contentor-tabuleiro {
    min-width: 800px;
    height: 800px;
    border-radius: 40px;

    display: inline-flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
}

.coluna-jogo {
    width:100%;
    height:100%;
    border-right:1px solid rgba(195,195,195,1);
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.coluna-jogo:last-child {
    border: none;
    
}

.bola {
    border: 1px solid #BAB8B8;
    border-radius: 50%;
    background: rgba(195,195,195,1);
    background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(191,190,190,1) 70%, rgba(191,190,190,1) 100%); 
    /*
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(191,190,190,1) 65%, rgba(191,190,190,1) 100%); 
    */
    background-position: top -5px left 0px;
    background-size: 120%;
    background-repeat:no-repeat;
    width: 100px;
    height: 100px;
    margin: 10px;

}

.bola:hover {
    box-shadow:  0px 0px 0 8px white, 0px 0px 0 12px turquoise;
}

.contentor-mensagem {
    padding: 30px;
    min-width: 600px;
    min-height: 190px;
    border-radius: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contentor-mensagem > * {
    font-size: 1.2rem;
}

.contentor-config {
    padding: 30px;
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 35px;
    top: 10px;
    display: grid;
    gap: 10px;
    justify-content: stretch;
}

.contentor-config > * {
    line-height: 2.2rem;
}

.contentor-config h2 {
    font-weight: 400;
}

.contentor-config form {
    display: grid;
    gap: 10px;
    justify-content: stretch;
}

input {
    margin: 2px;
    vertical-align: middle;
}

.contentor-classificacao {
    border: 1px solid #292828;
    border-radius: 10px;
    width: 100px;
}

.informacoes {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-family: 'Teko', sans-serif;
    text-transform:uppercase;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

.informacoes div {
    width: 800px;
    margin: 50px;
    border-radius: 40px;
    padding: 40px;

}

.informacoes div > * {
    padding: 20px;
    line-height: 2rem;

}